<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flappy cat</title>
    <link rel="stylesheet" th:href="@{/css/flappy.css}"></link>
</head>
<body>
<audio id="flysound" playcount="1" autoplay="true" src="">
Your browser doesn't support the HTML5 element audio.
</audio>
<audio id="scoresound" playcount="1" autoplay="true" src="">
Your browser doesn't support the HTML5 element audio.
</audio>
<audio id="hitsound" playcount="1" autoplay="true" src="">
Your browser doesn't support the HTML5 element audio.
</audio>
<audio id="deadsound" playcount="1" autoplay="true" src="">
Your browser doesn't support the HTML5 element audio.
</audio>
<audio id="swooshingsound" playcount="1" autoplay="true" src="">
Your browser doesn't support the HTML5 element audio.
</audio>
<canvas id="canvas">
Your browser doesn't support the HTML5 element canvas.
</canvas>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/flappy.js}" type="text/javascript"></script>
</body>
</html>